<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body ng-app="fipe" class="background">


    <h1 class="titulo">TABELA FIPE</h1>
    <h2 class="subtitulo">A Tabela Fipe expressa preços médios de veículos no mercado nacional, servindo apenas como um parâmetro para negociações ou avaliações.</h2>

    <div ng-controller="BuscaController" class="container">
        <div class="panel-group">
            <!-- PRIMEIRA TABELA -->
            <section class="col-sm-8 col-sm-offset-2" >

                <div class="panel panel-default" id="consulta">
                    <div class="panel-heading text-center">Insira as informações do carro</div>

                    <div class="conteudo">

                        <div class="form-group">
                            <input type="text" placeholder="Digite a marca do veículo" ng-change="buscar()" ng-model="entradaMarca">
                        </div>


                        <div class="form-group">
                            <input type="text" placeholder="Digite o modelo do veículo (opcional)" ng-model="filtro">
                        </div>

                        <div class="panel panel-default">

                            <select class="form-control" ng-model="teste" ng-change="buscarAno()">
                                <option ng-repeat="modelo in listaModelo | filter: filtro" value="{{modelo.codigo}}">{{modelo.nome}}</option>
                            </select>
                        </div>

                        <div class="panel panel-default">
                            <select class="form-control" ng-model="teste1">
                                <option ng-repeat="ano in listaCodigoAno" value="{{ano.codigo}}">{{ano.nome}}</option>
                            </select>
                        </div>

                        <button class="btn btn-info btn-circle" id="botao" ng-click="buscarResultado()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="resultado">
                    <div class="panel-heading text-center">Resultado da busca</div>
                        <div class="panel-body panel-success">
                            <div class="alert alert-success">
                                <ul>
                                    <li><span>Marca:</span> {{resultado.Marca}}</li>
                                    <li><span>Modelo:</span> {{resultado.Modelo}}</li>
                                    <li><span>Ano do Modelo:</span> {{resultado.AnoModelo}}</li>
                                    <li><span>Combustível:</span> {{resultado.Combustivel}}</li>
                                    <li><span>Valor:</span> {{resultado.Valor}}</li>
                                </ul>
                            </div>
                        </div>
                </div>

            </section>
        </div>



        <!-- BOTÕES DE COMPARTILHAMENTO -->
        <!-- <div class="container">
        <div class="buttons pull-right">
        <button type="button" class="btn btn-success btn-circle hover"><i class="glyphicon glyphicon-print"></i></button>
        <button type="button" class="btn btn-warning btn-circle hover"><i class="glyphicon glyphicon-envelope"></i></button>
        <button type="button" class="btn btn-danger btn-circle hover"><i class="glyphicon glyphicon-link"></i></button>
    </div>
</div> -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/app.min.js">

</script>

</body>
</html>
