span{
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.container {
    margin-top: 34px;
}

.background{
    background: linear-gradient(to right, rgba(70, 118, 255, 1), rgba(83, 192, 255, 1));
    z-index: -1;
}

.titulo{
  text-align: center;
  color: white;
}

.subtitulo{
  text-align: center;
  max-width: 500px;
  margin: auto;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: large;
}

.buttons {
  margin-top: 20px;
  margin-right: 32px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle:hover {
  -webkit-box-shadow: 0 8px 16px rgba(70, 66, 255, 0.19), 0 6px 6px rgba(70, 66, 255, 0.19);
  -moz-box-shadow: 0 8px 16px rgba(70, 66, 255, 0.19), 0 6px 6px rgba(70, 66, 255, 0.19);
  -ms-box-shadow: 0 8px 16px rgba(70, 66, 255, 0.19), 0 6px 6px rgba(70, 66, 255, 0.19);
  -o-box-shadow: 0 8px 16px rgba(70, 66, 255, 0.19), 0 6px 6px rgba(70, 66, 255, 0.19);
  box-shadow: 0 8px 16px rgba(70, 66, 255, 0.19), 0 6px 6px rgba(70, 66, 255, 0.19);
}

input {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  border: solid 1px;
  border-color: #cccccc;
}

option{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  border: solid 1px;
  border-color: #cccccc;
}

.conteudo{
  padding: 5%;
}



#consulta {
  border: 0;

}

#botaoBuscar{
  margin-top: 50px;

}

#botao{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
